body{
	margin:0;
	background:#eee;
	padding-bottom:3em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}
a{
	font-weight:bold;
	color:inherit;
	text-decoration:none;
	color:#400;
}
a:hover{
	text-decoration:underline;
}
a img{
	border:none;
}
code{
	white-space:pre;
}
nav li{
	list-style-type:none;
	display:inline;
	padding:0 2em;
}
#mainnav ul{
	border-top:solid;
	clear:both;
	margin:0;
	height:1.3em;
	text-transform:uppercase;
}
#mainnav a{
	color:#fff;
	font-weight:normal;
}
#mainnav li{
	height:1.2em;
	padding-bottom:0.2em;
}
#mainnav .currentpage {
	background:#fff;
}
#mainnav .currentpage a{
	color:#400;
}
header{
	float:left;
	width:90%;
	margin:0 5%;
	padding-top:1em;
	background:#400;
	color:#fff;
}
#me{
	font-size:3em;
	font-family:helvetica, serif;
	display:block;
	float:left;
	vertical-align:middle;
	padding:0.25em 0.75em;
}
#me a{
	text-decoration:none;
	font-weight:normal;
	color:#fff;
}
#me img{
	height:1em;
}
#about{
	float:right;
	width:17em;
	margin:1em;
}

main, #content{
	clear:both;
	padding:1em 2em;
	margin:0 5%;
	background:#fff;
	background: rgba(255, 255, 255, 0.7);
}
h1{
	margin-top:0;
}
h1,h2,h3,h4,h5{
	color:#400;
}
body > footer{
	padding:0;
	margin:0 5%;
	display:block;
	background:#fff;
	float:left;
	width:90%;
	font-size:0.8em;
}
footer li{
	float:left;
}
footer ul{
	border-top: solid #400;
	margin:0;
}

#also{
	font-family:cursive;
	font-style:italic;
	font-size:smaller;
	font-weight:normal;
	display:block;
	padding: 0.4em 0 3em 0;
	width:15%;
	text-align: center;
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	transform: rotate(-30deg);
	float:right;
	position:relative;
	top:-2em;
	left:0;
	background: #eee;
	color: #caa;
}
#also:hover{
	color: #900;
	text-decoration:none;
}

/* ontology css */
.schemabox, #project.schemabox{
	border:solid thin;
	margin:1em 0;
	padding:1em;
}
.schemabox h3{
	margin-top:0;
}
.schemabox:target{
	background:#ff9;
}
.term_status{
	float:right;
	color: #b00;
}
.archaic{
	opacity: 0.5;
}
.examples a{
	font-weight: normal;
	color: inherit;
}
blockquote{
	border: thin inset;
	background: #fcc;
	background: rgba(255, 200, 200, 0.5);
	padding:0 0.5em;
}
.blockimg {
	display: block;
	max-width:100%;
	margin: 2em auto;
}
.sidefig {
	float: right;
}